@use '../../partials/variables' as *;

/*------------------------------------*\
  #LOGIN MODAL
\*------------------------------------*/


.icon-bubble-container {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: $max-width-content;
    padding: 0 2rem;
   
}

.icon-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &__icon {
        height: 3.75rem;
        fill: $color-cerise;
    }
}
