@use './partials/typography';
@use './partials/variables';
@use './partials/mixins';

/*------------------------------------*\
  #CSS RESET
\*------------------------------------*/

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

a {
  color: inherit;
  text-decoration: none;
}


/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

body {
  font-family: 'Arimo';
}

