@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

/*------------------------------------*\
  #CART TOTAL
\*------------------------------------*/

.total {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    margin-bottom: 2rem;
    background-color: rgba($color-sky, 0.1);
    color: $color-sky;
    font-weight: 700;

    &__title {
        text-transform: uppercase;
        
    }

    &__amount {
        &:before {
            content: '$';
        }
    }
}