@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

/*------------------------------------*\
  #MOBILE HEADER
\*------------------------------------*/

.mobile-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    background-color: $color-white;
    box-shadow: 0 0.25rem 1rem rgba($color-shale, 0.05);
}

.logo {
    flex-basis: 40%;
    fill: $color-cerise;
    cursor: pointer;
}