@use '../../partials/variables' as *;

/*------------------------------------*\
  #MOBILE HEADER
\*------------------------------------*/

.mobile-header {
    position: fixed;
    z-index: 20;
    top: 0;
    display: flex;
    width: 100%;
    max-width: $max-width-content;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    background-color: $color-white;
    box-shadow: 0 0.25rem 1rem rgba($color-shale, 0.05);
}

.logo {
    flex-basis: 40%;
    max-height: 3.125rem;
    margin-left: 0.5rem;
    fill: $color-cerise;
    cursor: pointer;
}