@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

/*------------------------------------*\
  #PROFILE DETAILS
\*------------------------------------*/


.profile {

    padding: 2rem;

    &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        margin: 0 auto 2rem;
        overflow: hidden;
        background-color: $color-cerise;
    }

    &__image {
        height: 12rem;
    }

    &__default-avatar {
        fill: $color-white;
        width: 9rem;
    }

    &__name {
        width: 100%;
        padding: 1.5rem 0;
        border-top: 1px solid $color-cerise;
        border-bottom: 1px solid $color-cerise;
        margin-bottom: 3rem;
        text-align: center;
        color: $color-cerise;
        font-weight: 700;
    }

    &__detail-container {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: rgba($color-cerise, 0.05);
    }

    &__detail {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        margin-right: 0.5rem;
        color: $color-cerise;
        font-size: $font-small;
        font-weight: 700;
        text-transform: uppercase;
    }
}