@use './typography';


// ===========================\\
//  #Colour variables
//============================\\

$color-cerise: #fa5c66;
$color-lemon: #ffd026;
$color-shale: #3c3744;
$color-sky: #27a7fa;
$color-white: #ffffff;

// ===========================\\
//  #Typography variables
//============================\\

$font-base: 1rem;
$font-small: 0.75rem;